p {
    margin: 0;
    padding: 0;
}
.ft00 {
    font-size: 27px;
    font-family: BAAAAA + Arial;
    color: #000000;
}
.ft01 {
    font-size: 27px;
    font-family: CAAAAA + ArialMT;
    color: #000000;
}
.ft02 {
    font-size: 16px;
    font-family: BAAAAA + Arial;
    color: #000000;
}
.ft03 {
    font-size: 16px;
    font-family: CAAAAA + ArialMT;
    color: #000000;
}
.ft04 {
    font-size: 15px;
    font-family: BAAAAA + Arial;
    color: #000000;
}
.ft05 {
    font-size: 15px;
    font-family: CAAAAA + ArialMT;
    color: #000000;
}
